ListaCompras.dtd

<!ELEMENT ListaCompras (Venta)+>
    <!ELEMENT Venta (VentaCredito | VentaInmediata)>
        <!ELEMENT VentaCredito (FechaFinPago?, CantidadCredito+)>
        <!ELEMENT FechaFinPago (#PCDATA)>
        <!ELEMENT CantidadCredito (#PCDATA)>
        <!ELEMENT VentaInmediata (Cantidad+, Divisa+)>
        <!ELEMENT Cantidad (#PCDATA)>
        <!ELEMENT Divisa (#PCDATA)>