ListaCompras.dtd

<!ELEMENT ListaCompras (Venta)+>
    <!ELEMENT Venta (VentaCredito | VentaInmediata)>
        <!ELEMENT VentaCredito (#PCDATA)>
            <!ATTLIST  VentaCredito FechaFinPago CDATA #IMPLIED>
            <!ATTLIST  VentaCredito Cantidad CDATA #REQUIRED>
        <!ELEMENT VentaInmediata (#PCDATA)>
            <!ATTLIST  VentaInmediata Cantidad CDATA #REQUIRED>
            <!ATTLIST  VentaInmediata Divisa CDATA #REQUIRED>